#contain-header {
	height: 100vh;
	width: 100vw;
}

.heading {
	position: relative;
	top: -20px;
}

.header img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

#ftco-navbar {
	margin-top: 50px;
}

#layanan {
	position: absolute;
	top:430px;
}

.ftco-services {
  padding: 0 0 5em 0; }
  .ftco-services .services {
    display: block;
    width: 100%;
    position: relative;}
      .ftco-services .services .icon span {
        font-size: 30px;
	color: white; }
    .ftco-services .services .media-body {
	color: green;}
      .ftco-services .services .media-body h3 {
        font-weight: 500;
        font-size: 22px;
	color: orange; }

.icon {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #1eaaf1;
    border: 2px solid #00FE48;
    border-radius: 50%; 
transform: translate(-50%, -50%);
top: -30%;
left: 50%;}
.icon i {
	position: relative;
	bottom: -15px;
}

#layanan button {
	border: none;
	height: 30px;
	width: 100px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid white;
	background: rgba(162,238,87, .7);
	color: white;
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Event */
/*#################################################################################*/
/*#################################################################################*/
/*#################################################################################*/
#contain-event {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 5;
	
}

#contain-event img{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
}

#contain-event {
	position: relative;
	height: 100vh;
	width: 100vw;
	color: green;
}

.event a span {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -51%);
}
.event a {
	text-align: center;
	position: absolute;
	font-size: 50px;
	background: rgba(162,238,87, .7);
	width: 30px;
	height: 60px;
	margin-top: 550px;
}

#jadwal-event{
	position: absolute;
	right: 50px;
	height: 400px;
	bottom: 120px;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}
.carousel-item{
	height: 700px;
}
.gabung-event {
	border: none;
	height: 30px;
	width: 100px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid white;
	background: rgba(162,238,87, .7);
	color: white;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);

}

/* Produk */
/*#################################################################################*/
/*#################################################################################*/
/*#################################################################################*/
#contain-produk {
	height: 100vh;
	width: 100vw;
	position: relative;
	
}
.img-produk img{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
}
#promo {
	height: 670px;
	color: #3CFF00;
}
.promo h2 {
	font-family: "valen2 font";
	font-weight: bold;
}
.slide_promo {
	height: 300px;
	float: left;
	margin-top: 148px;
	left: -38px;
	width: 100%;
	height: 300px;
}
.slide_promo a span {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -95%);
}
.promo .next, .promo .prev {
	color: white!important;
}
.slide_promo .next {
	top: 35%;
	right: 15px;
	border-radius: 0 10px 10px 0;
}
.slide_promo .prev {
	left: 15px;
	top: 35%;
	border-radius: 10px 0 0 10px;
}
.slide_promo img {
	position: relative;
	left: 0;
	height: 300px;
	width: 100%;
}
.img_promo {
	border-radius: 30px;
}
.box_promo {
	bottom: 0;	
	left: 0;
	position: relative;
	height: 100px;
	width: 100%;
	background: rgba(0,0,0, .3);
	margin-top: -100px;
	color: white;
	padding-left: 10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.box_spesial {
	padding-top: 10px;
	top: -450px;	
	left: 0;
	position: relative;
	height: 150px;
	width: 100%;
	background: #64dd17;
	color: white;
	margin-top: 150px;
}

.box_spesial h1 {
	background: orange;
}

.tag_promo {
	position: absolute;
	background-color: orange;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	color: white;
	top: 10px;
}
#contain-produk button{
	position: absolute;
	right: 20px;
	border: none;
	height: 30px;
	width: 100px;
	background-color: rgba(0,255,0, .3);
	color: white;
	border-radius: 10px;
	bottom: 20px;
}

/* artikel*/
/*#################################################################################*/
/*#################################################################################*/
/*#################################################################################*/
#contain-artikel {
	width: 100vw;
	height: 100vh;
	position: relative;
	
}

.back-artikel img{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
}

#card-artikel {
	position: absolute;
	top: 150px;
	right: 40px;
}
/* komunitas*/
/*#################################################################################*/
/*#################################################################################*/
/*#################################################################################*/
#contain-komunitas {
	width: 100vw;
	height: 100vh;
	position: relative;
	
}

#contain-komunitas img{
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 0px;
}


/* Video*/
/*#################################################################################*/
/*#################################################################################*/
/*#################################################################################*/
#contain-video {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#contain-video img{
	position: absolute;
	width: 100vw;
	height: 100vh;
	position: relative;
}

video {
	position: absolute;
	top: 140px;
	left: 34px;
	width: 39vw;
}
#video {
	position: absolute;
	top: -20px;
	z-index: 5;
}

#contain-slider_video {
	height: 100vh;
	width: 100vw;
	position: relative;
	
}
#vids {
	height: 280px;
	color: #3CFF00;
}
.vids h2 {
	font-family: "valen2 font";
	font-weight: bold;
}
.slide_vids {
	height: 100vh;
	float: left;
	margin-top: 12px;
	left: -38px;
	width: 100%;
}
.slide_vids a {
	text-align: center;
	position: absolute;
	font-size: 50px;
	background: rgba(200,87,238, .8);
	width: 30px;
	height: 60px;
	margin-top: 15px;
}
.slide_vids a span {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -95%);
}
.vids .next, .vids .prev {
	color: white!important;
}
.slide_vids .next {
	top: 35%;
	right: 15px;
	border-radius: 0 10px 10px 0;
}
.slide_vids .prev {
	left: 15px;
	top: 35%;
	border-radius: 10px 0 0 10px;
}
.card-video {
	position: relative;
	top: -200px;
	z-index: 5;
	left: -30px;
}
/* komunitas*/
/*#################################################################################*/
/*#################################################################################*/
/*#################################################################################*/

#card-komunitas {
	position: absolute;
	top: 38%;
}