@font-face {
				font-family: Exo2-Black;
				src: url('../font/Exo2-Black.otf');
}

@font-face {
				font-family: Exo2-Light;
				src: url('../font/Exo2-Light.otf');
}

* {
				font-family: Exo2-Light;
				font-size: 12px;
}

.nav-link {
				border: 1px solid white;
				border-radius: 20px;
				padding: 5px 20px 5px 20px !important;
}

.icon{
	border: 1px solid purple;
	height: 50px; 
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-bottom: 10px;
}

.icon .fa{
	font-size: 24px !important;
}